
// colors
$color-main: #0049ff;
$color-dark: #203854;
$color-light: #FFCCE8;
$color-white: #FFFFFF;

// fonts
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
$font-bitr: 'Bitter', serif;
$font-ps2p: 'Press Start 2P', cursive;
